<md-card class="demo-kmp demo-basic">
  <md-toolbar color="primary">KMP Demo</md-toolbar>
  <md-card-content>
    <form>
      <md-input-container class="demo-full-width">
        <input mdInput placeholder="Source String" [(ngModel)]="SourceString" name="sourcestr" required>
        <md-error>This field is required</md-error>
        <md-hint>Please type source string here</md-hint>
      </md-input-container>

      <md-input-container class="demo-full-width">
        <input mdInput placeholder="Search String" [(ngModel)]="SearchString" name="searchstr" required>
        <md-error>This field is required</md-error>
        <md-hint>Please type string for searching here</md-hint>
      </md-input-container>

      <md-input-container class="demo-full-width">
        <textarea mdInput placeholder="Calculation Steps">{{DetailSteps}}</textarea>
      </md-input-container>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="onCalc()">GO</button>
    <button md-button>RESET</button>
  </md-card-actions>
</md-card>
