<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      <em>Sequence</em> list
    </ng-template>
    <md-card>
      <md-toolbar color="primary">Sequence List</md-toolbar>
      <md-card-content>
        <md-input-container class="demo-full-width">
          <input mdInput type="number" placeholder="New item to add" [(ngModel)]="SeqListNumberToAdd" name="seqlistnum2add">
          <md-hint>Please type a new number here</md-hint>
        </md-input-container>
        <div class="button-row">
          <button md-raised-button (click)="onSeqListAdd()">ADD TO LIST</button>
        </div>
        <md-table #table [dataSource]="sqlistDataSource">
          <!-- ID Column -->
          <ng-container cdkColumnDef="ID">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.ID}} </md-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container cdkColumnDef="Name">
            <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.Name}} </md-cell>
          </ng-container>

          <!-- Detail Column -->
          <ng-container cdkColumnDef="Detail">
            <md-header-cell *cdkHeaderCellDef> Detail </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.Detail}} </md-cell>
          </ng-container>

          <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
      </md-card-content>
      <md-card-actions>
        <button md-button [disabled]="sqlistIsInit" (click)="onSeqListInit()">INITIALIZE</button>
        <button md-button (click)="onSeqListPrint()">PRINT</button>
        <button md-button (click)="onSeqListReset()">RESET</button>
      </md-card-actions>
    </md-card>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon>thumb_up</md-icon>Linked List
    </ng-template>
    <md-card>
      <md-toolbar color="primary">Linked List</md-toolbar>
      <md-card-content>
        <form>
          <md-input-container class="demo-full-width">
            <input mdInput placeholder="Source String" [(ngModel)]="SourceString" name="sourcestr" required>
            <md-error>This field is required</md-error>
            <md-hint>Please type something here</md-hint>
          </md-input-container>
        </form>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="onCalc()">GO</button>
        <button md-button>RESET</button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>