<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      {{'DataStructure.SequenceList' | translate}}
    </ng-template>
    <md-card>
      <md-toolbar color="primary">{{'DataStructure.SequenceList' | translate}}</md-toolbar>
      <md-card-content>
        <div class="demo-full-width">
          <md-input-container>
            <input mdInput type="number" placeholder="New item to add" [(ngModel)]="SeqListNumberToAdd" name="seqlistnum2add">
            <md-hint>Please type a new number here</md-hint>
          </md-input-container>
          <button md-raised-button (click)="onSeqListAppend()">APPEND TO LIST</button>
        </div>

        <div class="demo-full-width">
          <md-input-container>
            <input mdInput type="number" placeholder="Position to insert" [(ngModel)]="SeqListPositionToInsert" name="seqlistpos2insert">
            <md-hint>Please choose a position here</md-hint>
          </md-input-container>
          <md-input-container>
            <input mdInput type="number" placeholder="New item to insert" [(ngModel)]="SeqListNumberToInsert" name="seqlistnum2insert">
            <md-hint>Please type a new number here</md-hint>
          </md-input-container>
          <button md-raised-button (click)="onSeqListInsert()">INSERT INTO LIST</button>
        </div>
        
        <hr />

        <md-table #table [dataSource]="sqlistDataSource">
          <!-- ID Column -->
          <ng-container cdkColumnDef="ID">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.ID}} </md-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container cdkColumnDef="Name">
            <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.Name}} </md-cell>
          </ng-container>

          <!-- Detail Column -->
          <ng-container cdkColumnDef="Detail">
            <md-header-cell *cdkHeaderCellDef> Detail </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.Detail}} </md-cell>
          </ng-container>

          <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
      </md-card-content>
      <md-card-actions>
        <button md-button [disabled]="sqlistIsInit" (click)="onSeqListInit()">INITIALIZE</button>
        <button md-button (click)="onSeqListPrint()">PRINT</button>
        <button md-button (click)="onSeqListReset()">RESET</button>
      </md-card-actions>
    </md-card>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon>thumb_up</md-icon>{{'DataStructure.LinkList' | translate}}
    </ng-template>
    <md-card>
      <md-toolbar>{{'DataStructure.LinkList' | translate}}</md-toolbar>
      <md-card-content>
        <div class="demo-full-width">
          <md-input-container>
            <input mdInput type="number" placeholder="New number" [(ngModel)]="LinkListNumberToAdd" name="linklistnum2add">
            <md-hint>Please type a new number here</md-hint>
          </md-input-container>
          <button md-raised-button (click)="onLinkListAppend()">APPEND TO LIST</button>
        </div>

        <div class="demo-full-width">
          <md-input-container>
            <input mdInput type="number" placeholder="Position to insert" [(ngModel)]="LinkListPositionToInsert" name="linklistpos2insert">
            <md-hint>Please choose a position here</md-hint>
          </md-input-container>
          <md-input-container>
            <input mdInput type="number" placeholder="New number" [(ngModel)]="LinkListNumberToInsert" name="linklistnum2insert">
            <md-hint>Please type a new number here</md-hint>
          </md-input-container>
          <button md-raised-button (click)="onLinkListInsert()">INSERT INTO LIST</button>
        </div>
        
        <hr />

        <md-table #table [dataSource]="linklistDataSource">
          <!-- ID Column -->
          <ng-container cdkColumnDef="ID">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.ID}} </md-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container cdkColumnDef="Name">
            <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.Name}} </md-cell>
          </ng-container>

          <!-- Detail Column -->
          <ng-container cdkColumnDef="Detail">
            <md-header-cell *cdkHeaderCellDef> Detail </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.Detail}} </md-cell>
          </ng-container>

          <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
      </md-card-content>
      <md-card-actions>
        <button md-button [disabled]="linklistIsInit" (click)="onLinkListInit()">INITIALIZE</button>
        <button md-button (click)="onLinkListPrint()">PRINT</button>
        <button md-button (click)="onLinkListReset()">RESET</button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>
