<md-sidenav-container class="demo-root" fullscreen>
  <md-sidenav #start>
    <md-nav-list>
      <a *ngFor="let navItem of navItems" md-list-item (click)="start.close()" [routerLink]="[navItem.route]">
        {{navItem.name}}
      </a>

      <hr>

      <a *ngFor="let navItem of navUIItems" md-list-item (click)="start.close()" [routerLink]="[navItem.route]">        
        {{navItem.name}}
      </a>
    </md-nav-list>
    <button md-button (click)="start.close()">{{'Home.CloseButton' | translate}}</button>
  </md-sidenav>

  <div>
    <md-toolbar color="primary">
      <button md-icon-button (click)="start.open()">
        <md-icon class="md-24">menu</md-icon>
      </button>
      <div class="demo-toolbar">
        <h1>{{'Home.AppTitle' | translate}}</h1>
        <div>
          <md-select [(ngModel)]="selectedLanguage" (change)="onLanguageChange()" name="lang">
            <md-option *ngFor="let lang of availableLanguages" [value]="lang.Value">
              {{ lang.DisplayName | translate }}
            </md-option>
          </md-select>
          <button md-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
            <md-icon class="md-24">fullscreen</md-icon>
          </button>
          <a md-icon-button href="https://github.com/alvachien/datastructure" title="Go to Source repo">
            <md-icon class="md-24">code</md-icon>
          </a>
        </div>
      </div>
    </md-toolbar>

    <div #root="$implicit" dir="ltr" class="demo-content" [ngSwitch]="changeDetectionStrategy">
      <div *ngSwitchDefault>
        <router-outlet></router-outlet>
      </div>

      <demo-app-on-push *ngSwitchCase="'OnPush'">
        <router-outlet></router-outlet>
      </demo-app-on-push>
    </div>
  </div>
</md-sidenav-container>
