<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      Chinese Chess <em>General Problem</em>
    </ng-template>
    <md-card>
      <md-toolbar color="accent">Chinese Chess General Problem</md-toolbar>
      <md-card-content>
        <img src="./assets/images/chinesechess.jpg" />
      </md-card-content>
      <md-card-actions>
        <button md-button>PRINT</button>
        <button md-button>RESET</button>
      </md-card-actions>
    </md-card>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      {{'Subject.Polynomial' | translate}}
    </ng-template>
    <md-card>
      <md-toolbar>{{'Subject.Polynomial' | translate}}</md-toolbar>
      <md-card-content>
        <div class="demo-full-width" *ngFor="let pds of PolynomialDisplayStrings">
          <span [innerHtml]='pds'></span>
        </div>
        
        <!-- New term -->
        <div class="demo-full-width">
          <md-input-container>
            <input mdInput type="number" placeholder="Coef" [(ngModel)]="polAddCoef" name="polAddCoef">
          </md-input-container>
          <md-input-container>
            <input mdInput type="number" placeholder="Exp" [(ngModel)]="polAddExp" name="polAddExp">
          </md-input-container>
          <button md-raised-button (click)="OnPolynomialNewTerm()">NEW TERM</button>
        </div>

        <!-- Eval -->
        <div class="demo-full-width">
          <md-input-container>
            <input mdInput type="number" placeholder="Value of Variable" [(ngModel)]="polEval" name="polEval">
          </md-input-container>
          <button md-raised-button (click)="OnPolynomialEval()">EVAL</button>
        </div>

        <!-- Add -->
        <div class="demo-full-width">
          <span [innerHtml]='polNewForAdd'></span>
          <button md-raised-button (click)="OnPolynomialNewForAddRandom()">NEW RANDOM</button>
          <button md-raised-button (click)="OnPolynomialAdd()" [disabled]="polNewForAdd === null || polNewForAdd.length <= 0">ADD</button>
        </div>

        <!-- Multiply -->
        <div class="demo-full-width">
          <span [innerHtml]='polNewForMultiply'></span>
          <button md-raised-button (click)="OnPolynomialNewForMultiplyRandom()">NEW RANDOM</button>
          <button md-raised-button (click)="OnPolynomialMultiply()" [disabled]="polNewForMultiply === null || polNewForMultiply.length <= 0">MULTIPLY</button>
        </div>
      </md-card-content>
      
      <md-card-actions>
        <button md-button (click)="OnPolynomialRandomGenerate()" [disabled]="_polynomial === null">INITIALIZE WITH RANDOMIZE</button>
        <button md-button (click)="OnPolynomialRetset()" [disabled]="_polynomial !== null">RESET</button>
      </md-card-actions>
    </md-card>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      Pan Cake Sorting
    </ng-template>
    <md-card>
      <md-toolbar>Pan Cake Sorting</md-toolbar>
      <md-card-content>
      </md-card-content>
      <md-card-actions>
        <button md-button>PRINT</button>
        <button md-button>RESET</button>
      </md-card-actions>
    </md-card>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      {{'Subject.Matrix' | translate}}
    </ng-template>
    <md-card>
      <md-toolbar>{{'Subject.Matrix' | translate}}</md-toolbar>
      <md-card-content>
      </md-card-content>
      <md-card-actions>
        <button md-button>PRINT</button>
        <button md-button>RESET</button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>
