<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      Chinese Chess <em>General Problem</em>
    </ng-template>
    <md-card>
      <md-toolbar color="accent">Chinese Chess General Problem</md-toolbar>
      <md-card-content>
        <img src="./assets/chinesechess.jpg" />
      </md-card-content>
      <md-card-actions>
        <button md-button [disabled]="sqlistIsInit" (click)="onSeqListInit()">INITIALIZE</button>
        <button md-button (click)="onSeqListPrint()">PRINT</button>
        <button md-button (click)="onSeqListReset()">RESET</button>
      </md-card-actions>
    </md-card>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      Polynomial
    </ng-template>
    <md-card>
      <md-toolbar>Polynomial</md-toolbar>
      <md-card-content>
      </md-card-content>
      <md-card-actions>
        <button md-button [disabled]="sqlistIsInit" (click)="onSeqListInit()">INITIALIZE</button>
        <button md-button (click)="onSeqListPrint()">PRINT</button>
        <button md-button (click)="onSeqListReset()">RESET</button>
      </md-card-actions>
    </md-card>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      Pan Cake Sorting
    </ng-template>
    <md-card>
      <md-toolbar>Pan Cake Sorting</md-toolbar>
      <md-card-content>
      </md-card-content>
      <md-card-actions>
        <button md-button [disabled]="sqlistIsInit" (click)="onSeqListInit()">INITIALIZE</button>
        <button md-button (click)="onSeqListPrint()">PRINT</button>
        <button md-button (click)="onSeqListReset()">RESET</button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>
